<header>
    Page Header
<ul>
    <%if(locals.user){%>
        <li>
            <a href="/users/profile">
                <%=user.name%>
            </a>
        </li>
        <li>
            <a href="/users/sign-out">signout</a>
        </li>
    <%}else{%>
        <li>
            <a href="/users/sign-in">signin</a>
        </li>
        <li>
            <a href="/users/sign-up">signup</a>
        </li>
    <%}%>
</ul>
</header>